/* See license.txt for terms of usage */

/************************************************************************************************/

.sourceLine {
    -moz-user-select: none;
    margin-right: 10px;
    border-right: 1px solid #CCCCCC;
    padding: 0px 4px 0 20px;
    background: #EEEEEE no-repeat 2px 0px;
    color: #888888;
    white-space: pre;
    font-family: monospace; /* see issue 2953 */
}

.sourceLine:hover {
    text-decoration: none;
}
