/* See license.txt for terms of usage */

html {
    background-color: -moz-dialog;
}

body {
    margin: 0;
    overflow: hidden;
    /* Aspect    0.547          0.547   0.547 */
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 11px;
}

/************************************************************************************************/

.collapsed,
[collapsed="true"] {
    display: none;
}

/************************************************************************************************/

.panelNode {
    display: block; /* xxxHonza */
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    color: #000000;
}

.panelNode[active="true"] {
    display: block;
}

/************************************************************************************************/

.infoTip {
    z-index: 2147483647;
    position: fixed;
    padding: 2px 3px;
    border: 1px solid rgb(126, 171, 205);
    background: LightYellow;
    font-family: Lucida Grande, Tahoma, sans-serif;
    color: #000000;
    display: none;
    white-space: nowrap;
    pointer-events: none;
    border-radius: 3px;
    box-shadow: gray 2px 2px 3px;
}

.infoTip[active="true"] {
    display: block;
}

.infoTipLoading {
    width: 16px;
    height: 16px;
    background: url(loading_16.gif) no-repeat;
}

.infoTipImageBox {
    min-width: 100px;
    text-align: center;
}

.infoTipCaption {
    font: message-box;
}

.infoTipLoading > .infoTipImage,
.infoTipLoading > .infoTipCaption {
    display: none;
}

/************************************************************************************************/
