
# Build artifacts
/release
/ccdump.xpi

# Junk that could exist anywhere:
.DS_Store
*.swp
*.tmp
.*.gz

# Temporary files created by Eclipse
.tmp*

# Editor junk
/.project
/.pydevproject
/.settings/
/.settings.xml
/.settings.xml.old
/.idea/


# Manually installed node packages should be ignored
/node_modules/
/.externalToolBuilders

# Extensions
httpmonitor@getfirebug.com
