/* See license.txt for terms of usage */

/************************************************************************************************/
/* Twisties */

.twisty,
.memberRow.hasChildren > .memberLabelCell > .memberLabel,
.hasHeaders .netHrefLabel,
.netPageRow > .netCol > .netPageTitle {
    background-image: url(twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 2px 3px;
}

.memberRow.hasChildren.opened > .memberLabelCell > .memberLabel,
.nodeBox.highlightOpen > .nodeLabel > .twisty,
.nodeBox.open > .nodeLabel > .twisty,
.netRow.opened > .netCol > .netHrefLabel,
.netPageRow.opened > .netCol > .netPageTitle {
    background-image: url(twistyOpen.png);
}

.memberRow.hasChildren > .memberLabelCell > .memberLabel,
.hasHeaders .netHrefLabel {
    background-position: 2px 2px;
}

.twisty {
    background-position: 2px 1px;
}

/************************************************************************************************/
/* Panel base */

.infoTip,
.fullPanelEditor {
    font-family: Monaco, monospace;
}

/************************************************************************************************/
/* Net panel */

.useA11y .a11yShowFullLabel,
.netInfoText {
    font-family: Monaco, monospace;
}
