/* See license.txt for terms of usage */

/************************************************************************************************/
/* Twisties */

.twisty,
.memberRow.hasChildren > .memberLabelCell > .memberLabel,
.hasHeaders .netHrefLabel,
.netPageRow > .netCol > .netPageTitle {
    background-image: url(twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    min-height: 12px;
}

.memberRow.hasChildren.opened > .memberLabelCell > .memberLabel,
.nodeBox.highlightOpen > .nodeLabel > .twisty,
.nodeBox.open > .nodeLabel > .twisty,
.netRow.opened > .netCol > .netHrefLabel,
.netPageRow.opened > .netCol > .netPageTitle {
    background-image: url(twistyOpen.png);
}

.twisty {
    background-position: 4px 4px;
}

.hasHeaders .netHrefLabel {
    background-position: 2px 50%;
}
